<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>designs</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles1.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<nav>
        <ul class="left">
            <li><a href="/">ELAA: Website Designer</a></li>
        </ul>
        <ul class="right">
        <li><a href="/about">About</a></li>
            <li><a href ="/designs">Designs</a></li>
        <li><a href="#tools">Templates</a></li>
    </ul>
    </nav>
</head>
<div class="detext-large">
    Lorem ipsum dolor sit amet, consectetur adipiscing
    <p></p>
</div>
<div class="detext-small">
    <p>
    </p>
    <p></p>
    Lorem ipsum dolor sit amet, consectetur adipiscing
</div>


<p>test for design</p>
<li><a href="http://127.0.0.1:5000/">back to home page</a></li>

</body>
</html>